{% extends "base.html" %}

{% block title %} {{entry.title|escape}} - {{blog.title|escape}} {% endblock %}

{% block head_block %}

{% if entry %}
{%if entry.strtags%}<meta name="Keywords" content="{{entry.strtags|escape}}" />{%endif%}
{%if entry.excerpt%} <meta name="Description" content="{{entry.excerpt|escape}}" />{%endif%}
{% endif %}

{% endblock %}

{% block content %}
<!-- Begin #colLeft -->
		<div id="colLeft">
		{% if entry %}
		<!-- Begin .postBox -->
		<div class="postBox">
			<div class="postBoxTop"></div>
			<div class="postBoxMid">
				<div class="postBoxMidInner first clearfix">
				<div class="date">{{entry.date|datetz:"M"}}<br /><span class="day">{{entry.date|datetz:"j"}}</span><br />{{entry.date|datetz:"Y"}}</div>
				<div class="category">{%for cate in entry.categories%}<a href="/category/{{cate.slug}}">{{cate.name}}&nbsp;&nbsp;</a> {%endfor%}</div>
				<h1><a href="/{{ entry.link|escape }}" rel="bookmark" title="点击阅读： {{entry.title|escape}}">{{entry.title|escape}}</a></h1> 
				<div class="postMetaSingle">
					<img src="/themes/{{ blog.theme_name }}/images/ico_author.png" alt="本文作者"/>  文章作者：{{entry.author_name}}&nbsp;&nbsp;&nbsp;
					<img src="/themes/{{ blog.theme_name }}/images/ico_comments.png" alt="Comments"/> <a href="/{{entry.link|escape}}#comments"> {{entry.commentcount}} 条评论</a>
				</div>
                <p>
							{{ entry.content }}
                <div class="clearboth"></div>
				</p>
                    <div class="postTags">
                    标签：{%for tag in entry.tags%}<a rel="tag" href="/tag/{{tag|urlencode}}">{{tag}}&nbsp;&nbsp;</a>{%endfor%}
                </div>
					
				</div>
					<div class="postCredentials">
							
							<!-- Social Sharing Icons -->
							<div class="social">
							<strong>喜欢这篇文章吗？ 那么共享它吧！</strong>
									<a href="http://twitter.com/home/?status={{entry.title|escape}} : /{{ entry.link|escape }}" title="Tweet this!">
									<img src="/themes/{{ blog.theme_name }}/images/twitter.png" alt="Tweet this!" /></a>				
									<a href="http://www.stumbleupon.com/submit?url=/{{ entry.link|escape }}&amp;amp;title={{entry.title|escape}}" title="StumbleUpon.">
									<img src="/themes/{{ blog.theme_name }}/images/stumbleupon.png" alt="StumbleUpon" /></a>
									<a href="http://digg.com/submit?phase=2&amp;amp;url=/{{ entry.link|escape }}&amp;amp;title={{entry.title|escape}}" title="Digg this!">
									<img src="/themes/{{ blog.theme_name }}/images/digg.png" alt="Digg This!" /></a>				
									<a href="http://del.icio.us/post?url=/{{ entry.link|escape }}&amp;amp;title={{entry.title|escape}}" title="Bookmark on Delicious.">
									<img src="/themes/{{ blog.theme_name }}/images/delicious.png" alt="Bookmark on Delicious" /></a>
									<a href="http://www.facebook.com/sharer.php?u=/{{ entry.link|escape }}&amp;amp;t={{entry.title|escape}}" title="Share on Facebook.">
									<img src="/themes/{{ blog.theme_name }}/images/facebook.png" alt="Share on Facebook" id="sharethis-last" /></a>									
								</div>
							<!-- end Social Sharing Icons -->
							
							<!-- Related Posts-->
                            <h2><strong>更多相关文章</strong></h2>
                            {% if relateposts %}
				<ul class="relatedPosts">
				{%for post in relateposts%}
					<li><a href="/{{post.link|escape}}">{{post.title|escape}}</a></li>
				{%endfor%}
				</ul>
				{% endif %}
							<!-- end Related Posts-->
		</div>
		<div class="postBoxMidInner">
		{% include "comments.html" %}
			</div>
			</div>
			<div class="postBoxBottom"></div>
		</div>
		{% else %}

		<p>不好意思，没有找到您要的文章，或许您可以在搜索栏查找一下。</p>

	{% endif %}
		
			</div>
		<!-- End #colLeft -->
        
{% include "sidebar.html" %}

{% endblock %}